*.vcxproj 
cProject.vcxproj.filters
cProject.vcxproj.user
Debug/array.nativecodeanalysis.sarif
Debug/array.nativecodeanalysis.xml
Debug/array.obj
Debug/array.obj.enc
Debug/CodeAnalysisResultManifest.txt
Debug/cProject.exe.recipe
Debug/cProject.log
Debug/NativeCodeAnalysis.read.1.tlog
Debug/vc.nativecodeanalysis.all.xml
Debug/vc142.idb
Debug/vc142.pdb
Debug/cProject.tlog/CL.command.1.tlog
Debug/cProject.tlog/CL.read.1.tlog
Debug/cProject.tlog/CL.write.1.tlog
Debug/cProject.tlog/cProject.lastbuildstate
Debug/cProject.tlog/link.command.1.tlog
Debug/cProject.tlog/link.read.1.tlog
Debug/cProject.tlog/link.write.1.tlog
